header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  height: 100px;
  width: 100%;
  background-color: #00111c;
  z-index: 10;
}

#div-logo {
  background-image: url("./logo/logo.png");
  background-size: cover;
  height: 100px;
  width: 100px;
  cursor: pointer;
  transition: opacity 0.5s;
}

#div-logo:hover {
  opacity: 0.5;
}

#nav-bar {
  flex: 1;
}

#nav-bar div {
  justify-content: space-around;
}

#nav-bar p {
  height: 20px;
  text-decoration: none;
  transition: color 0.5s;
  cursor: pointer;
  user-select: none;
}

#nav-bar p:hover {
  color: #023e8a;
}

.container-button-drawer {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 80px;
}

.container-button-drawer .button-drawer {
  opacity: 0;
}

.button-drawer {
  padding: 10px;
  margin-top: 5px;
  height: 50px;
  width: 50px;
  background: none;
  border: none;
  border-radius: 25px;
  z-index: 100;
}

.button-drawer:active {
  background-color: rgba(0, 24, 45, 0.499);
}

#modal-drawer {
  position: fixed;
  top: 0;
  display: flex;
  height: 100vh;
  width: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: width 0.25s;
  z-index: 11;
}

#drawer {
  height: 100%;
  width: 0;
  background-color: #001a2c;
  overflow: hidden;
  transition: width 0.15s;
}

#drawer div {
  margin-left: 15px;
}

#drawer div p {
  margin-bottom: 60px;
}

.stuffed-modal {
  flex: 1;
}

@media only screen and (max-width: 712px) {
  header {
    padding: 0;
    height: 80px;
  }

  #div-logo {
    height: 80px;
    width: 80px;
    cursor: none;
  }

  #nav-bar p {
    cursor: none;
  }
}