html {
  background-color: #00111c;
  font-size: 6.25%;
}

::-webkit-scrollbar {
  height: 16rem;
  width: 8rem;
}

::-webkit-scrollbar-thumb {
  opacity: 1;
  background-color: #ced4da;
  border-color: rgba(255,255,255);
  border-radius: 9999px;
  border-width: 1px;
}

::-webkit-scrollbar-track {
  position: absolute;
  background-color: transparent;
  border-radius: 9999px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  color: #ced4da;
  font-size: 16rem;
}

body {
  background: radial-gradient(circle, #001a2c, #00111c);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 320px;
}

section {
  padding: 20px 150px;
}

@media only screen and (max-width: 712px) {
  section {
    padding: 20px;
  }
}
